html
    include header

    body.has-navbar-fixed-top
        include nav

        section.hero.is-light
            .hero-body
                .container
                    include messages

                    block content

        include footer