extends ../includes/layout_default

block content
	.level
		.level-left
			h1.is-size-4.title.is=title
		.level.-right
	.columns
		.column
			.box.has-background-white
				table.table.is-fullwidth.is-responsive
					tbody
						tr
							td.has-text-weight-bold Balance
							td.has-text-right=user.availableBalance.toFixed(2)
						tr
							td.has-text-weight-bold Locked
							td.has-text-right=user.lockedBalance.toFixed(2)
				.columns
					.column
						button.button.modal-button.is-fullwidth.is-dark.is-outlined(data-target='withdrawBalance') Withdraw
					.column
						button.button.modal-button.is-fullwidth.is-dark.is-outlined(data-target='depositBalance') Deposit

		.column
			.box.has-background-white


	br
	
	h1.is-size-4.title.is Balance History
	.box.has-background-white


	include includes/modals