.modal#viewActivity
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title Activity
            span.delete(aria-label='close')
        section.modal-card-body
            code#activityData
            code#activityMessage
        footer.modal-card-foot