
.modal#depositBalance
	.modal-background
	.modal-card
		header.modal-card-head
			p.modal-card-title Deposit Address
			span.delete(aria-label='close')
		section.modal-card-body
			input.input.is-medium.is-primary(value=user.address disabled)
		footer.modal-card-foot

.modal#withdrawBalance
	.modal-background
	.modal-card
		header.modal-card-head
			p.modal-card-title Withdraw Balance
			span.delete(aria-label='close')
		section.modal-card-body

		footer.modal-card-foot