.level
    .level-left
        h1.is-size-3.title.is=title
    .level.-right
        a.button.is-dark.is-outlined.modal-button.is-medium.tooltip.is-tooltip-success.is-tooltip-top(data-tooltip='New' href='/items/new')
            span.icon.is-medium
                i.icon-plus
