
extends ../includes/layout_default

block content
	
	include includes/head

	form(action='/items/new' method='post' enctype='multipart/form-data')
		
		#itemWizard.steps.is-medium.box.has-background-white
			.step-item.is-active.is-success
				.step-marker 1
				.step-details
					p.step-title Upload
			.step-item.is-success
				.step-marker 2
				.step-details
					p.step-title Edit
			.step-item.is-success
				.step-marker 3
				.step-details
					p.step-title Review
			.step-item.is-success
				.step-marker 4
				.step-details
					p.step-title Publish
			.steps-content
				.step-content.is-active.has-text-centered
					
					.file.is-primary.has-name.is-boxed.is-fullwidth.has-text-centered
						label.file-label
							input.file-input.is-medium(type='file' id='file' name='file' onchange='changeFileName()')
							span.file-cta
								span.icon.is-large.is-size-2
									i.icon-cloud-upload
								span.file-label.is-size-3 Choose a file…
							span#fileName.file-name.has-text-centered.is-size-4 .zip

				.step-content
					.field.is-horizontal
						.field-label.is-normal
							label.label Name
						.field-body
							.field
								.control
									input.input.is-medium(type='text' name='name' id='name')
					.field.is-horizontal
						.field-label.is-normal
							label.label Description
						.field-body
							.field
								.control
									input.input.is-medium(type='text' name='description' id='description')
					
					.field.is-horizontal
						.field-label.is-normal
							label.label Category
						.field-body
							.field
								.control
									.select.is-medium.is-fullwidth
										select(name='category' id='category')
											option(value='Graphics') Graphics
											option(value='Vectors') Vectors
											option(value='Scripts') Scripts
											option(value='Themes') Themes

					.field.is-horizontal
						.field-label.is-normal
							label.label Price
						.field-body
							.field
								.control
									input.input.is-medium.is-fullwidth(type='number' name='price' id='price' min=0 step=0.01)

					.field.is-horizontal
						.field-label.is-normal
							label.label Content
						.field-body
							.field
								.control
									textarea.textarea.is-medium.is-fullwidth(name='content' id='content')

					.field.is-horizontal
						.field-label.is-normal
							label.label License
						.field-body
							.field
								.control
									.select.is-medium.is-fullwidth
										select(name='license' id='license')
											each licence in licenses
												option(value=licence.licenseId)=licence.name

				.step-content
					.field.is-horizontal
						.field-label.is-normal
							label.label Name
						.field-body
							.field
								.control
									input.input.is-medium(type='text' name='nameReview' id='nameReview' disabled)
					.field.is-horizontal
						.field-label.is-normal
							label.label Description
						.field-body
							.field
								.control
									input.input.is-medium(type='text' name='descriptionReview' id='descriptionReview' disabled)
					
					.field.is-horizontal
						.field-label.is-normal
							label.label Category
						.field-body
							.field
								.control
									.select.is-medium.is-fullwidth
										select(name='categoryReview' id='categoryReview' disabled)
											option(value='Graphics') Graphics
											option(value='Vectors') Vectors
											option(value='Scripts') Scripts
											option(value='Themes') Themes

					.field.is-horizontal
						.field-label.is-normal
							label.label Price
						.field-body
							.field
								.control
									input.input.is-medium.is-fullwidth(type='number' name='priceReview' id='priceReview' min=0 step=0.01 disabled)

					.field.is-horizontal
						.field-label.is-normal
							label.label Content
						.field-body
							.field
								.control
									textarea.textarea.is-medium.is-fullwidth(name='contentReview' id='contentReview' disabled)

					.field.is-horizontal
						.field-label.is-normal
							label.label License
						.field-body
							.field
								.control
									.select.is-medium.is-fullwidth
										select(name='licenseReview' id='licenseReview' disabled)
											each licence in licenses
												option(value=licence.licenseId)=licence.name

				.step-content.has-text-centered
					if user.verified === 1
						.field
							.control
								input.input.is-medium.is-fullwidth.has-text-centered(type='text' name='token' placeholder='000000')
					.field
						br
						p.is-size-5 You are almost there! Click the green button below to submit your item for review.
						br
						button.button.is-large.is-success.is-fullwidth(type='submit' value='submit') Submit for Publication
			
			.steps-actions
				.steps-action
					a.button.is-medium.is-dark.is-outlined(href='#', data-nav='previous') Previous
				.steps-action
					a.button.is-medium.is-primary.is-outlined(href='#', data-nav='next') Next


	script.
		const editor = new SimpleMDE({
			element: document.getElementById('content'),
			forceSync: true,
			spellChecker: false
		})

		const reviewEditor = new SimpleMDE({
			element: document.getElementById('contentReview'),
			toolbar: false,
			status: false,
			spellChecker: false
		})

		const wizard = new bulmaSteps(document.getElementById('itemWizard'), {
			onShow: function(t) {

				if(t === 1 && !document.getElementById('file').value) {
					alert('No file selected. Go Back.')
				}
				else if(t === 2) {
					document.getElementById('nameReview').value = document.getElementById('name').value
					document.getElementById('descriptionReview').value = document.getElementById('description').value
					document.getElementById('categoryReview').value = document.getElementById('category').value
					document.getElementById('priceReview').value = document.getElementById('price').value
					document.getElementById('licenseReview').value = document.getElementById('license').value

					reviewEditor.value(document.getElementById('content').value)
					reviewEditor.togglePreview()
				}
				else if(t === 4) {


				}
			}
		})

		function changeFileName() {
			const file = document.getElementById('file').value
			const fullFileName = file.substr(file.lastIndexOf('\\') + 1)
			const fileName = fullFileName.substr(0, fullFileName.length - 4)
			const fileType = file.split('.').pop()

			if(fileType !== 'zip') {
				alert('File has to be a zip archive.')
			} else {
				document.getElementById('fileName').innerHTML = fullFileName
				document.getElementById('name').value = fileName
			}
		}
