
extends ../includes/layout_default

block content
	
	include includes/head

	form(method='post', action='/items/new')
		.columns
			.column
				.box.has-background-white
					.field
						h1.subtitle Name
						input.input.is-large.is-fullwidth(type='text' name='name')

					.field
						h1.subtitle Category
						input.input.is-large.is-fullwidth(type='text' name='name')

					.field
						h1.subtitle Description
						input.input.is-large.is-fullwidth(type='text' name='name')

					.field
						h1.subtitle 
						input.input.is-large.is-fullwidth(type='text' name='name')


					if user.verified === 1
						.field
							.control.has-icons-left
								input.input.is-large.is-fullwidth.has-text-centered(type='text' name='token' placeholder='000000')
								span.icon.is-large.is-left
									i.icon-key
			
		.level
			.level-left
				a.button.is-danger.is-outlined.is-large(href='/items/') Cancel
			.left-right
				button.button.is-success.is-outlined.is-large(type='submit') Update
