extends ../../includes/layout_default

block content
	//include includes/head

	.columns
		.column
			h1.title=item.name

			.box.has-background-white!=marked(item.content)
		
		.column.is-one-third
			.box.has-background-white.has-text-centered

